:root{
  background-color: black;
  scroll-behavior: smooth;
}

*{
  color: aliceblue;
  font-family: 'Bree Serif', serif;
}

body{
    width:fit-content;
}

/* CSS for Nav Bar */
.nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .nav .menu {
    display: none;
  }

  .nav a:hover{
    background-color: #ddd;
    color: black;
}
  
  /* CSS for Home Section */
  #home {
    padding: 50px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .home1 {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
  }
  
  .profile {
    display: inline-block;
    width: 200px;
    height: auto;
    margin-left: 20px;
  }

  /* CSS for About Me Section */
  #home{
    background-color: black;
  }

  #home h2 a{
    text-decoration: none;
    background-color: dodgerblue;
  } 

  .profile{
    height: 500px;
    border-radius: 60%;
    width: auto;
}

  .backimg{
    margin-left: 20%;
  }

  /* CSS for About Me Section */
  .ahead1{
    font-size: 40px;
    text-align: center;
    background-color: rgb(40, 41, 38);
  }

  #head1{
    font-size: 30px;
    background-color: rgb(63, 139, 113);
  }
  
  .edu_container {
    display: flex;
    justify-content: space-between;
  }

  .edu a{
    text-decoration: none;
  }

  .edu h2{
    padding-left: 1%;
  }

  .edu .column {
    flex-basis: 48%;
    margin-bottom: 20px;
    margin-top: 2%;
    height: 20em;
    border-radius: 4%;
    background-color: rgb(67, 63, 63);
  }

  .edu .logo1{
    height: 221px;
    width: 228px;
  }

  .edu .logo2{
    height: 221px;
    border-radius: 75%;
    width: 228px;
  }
  
  .skills  h1{
    margin-left: 2%;
  }
  
  .skills h2{
    margin-left: 2%;
  }

  .skills li{
    font-size: 18px;
  }

  .skills .skill_container {
    display: flex;
    justify-content: space-between;
  }
  
  .skills .skill_column {
    margin-top: 2%;
    flex-basis: 30%;
    margin-bottom: 20px;
    border-radius: 4%;
    background-color: rgb(67, 63, 63);
  }
  
  .experience {
    margin-top: 20px;
  }

  .exp h2{
    font-size: 25px;
  }

  .exp{
    background-color: rgb(67, 63, 63);
    height: 18em;
  }

  .certi h2{
    font-size: 25px;
  }

  .certi .certi_column{
    background-color: rgb(67, 63, 63);
    height: 18em;
  }

  /* CSS for Project Section */
  #project h2{
    font-size: 30px;
    padding-left: 1%;
  }

  #project h3{
    font-size: 23px;
    padding-left: 1%;
  }

  #project p{
    font-size: 23px;
    padding-left: 1%;
  }

  .cont2 {
    display: flex;
    padding-left: 1%;
    justify-content: space-between;
  }
  
  .cont2 .column {
    flex-basis: 30%;
    margin-bottom: 20px;
    background-color: rgb(67, 63, 63);

  }

  /* CSS for Resume Section */

  /* .resume_cont .column2{
    padding-top: 1% ;
    padding-bottom: 1%;
  } */

  #resume a{
    text-decoration: none;
    background-color: dodgerblue;
  }

  .resume_cont{
    text-align: center;
    background-color: rgb(67, 63, 63);
    height: 8em;
  }
  
  /* CSS for Contact Me Section */

  .contact_cont {
    display: flex;
    justify-content: center;
  }
  
  .contact_cont .contact_col1 {
    flex-basis: 20%;
  }
  
  .contact_cont .contact_col2 {
    flex-basis: 1%;
  }
  
  .contact_cont form {
    margin-top: 20px;
  }

  input[type=text]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 6px;
    color:rgb(0, 0, 0);
    /* resize: horizontal; */
}

input[type=email]{
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 6px;
  color:rgb(0, 0, 0);
  /* resize: horizontal; */
}

textarea{
  color:rgb(0, 0, 0);
}

.fa{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: #ccc;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  margin-left: 5px;
}

  /* CSS for Footer */
  #footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  